html {
    font-family: "Arial", serif;
}

img {
    /*display: inline-block;*/
    float: left;
    margin: 10px;
}

li {
    margin-bottom: 10px;
}

.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:"header header header header"
                        "left right right right"
}

.header{
    grid-area: header;
    text-align: center;
    margin: 10px;
    background-color: lightgray;
}

.Navigation{
    grid-area: left;
    margin: 10px;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    list-style-position: inside;
}

.ArticleContainer{
    grid-area: right;
    margin: 10px;
}

.Article{
    overflow: hidden;
    margin-bottom: 10px;
    background-color: lightgray;
    padding: 10px;
}

@media (max-width: 1000px){
    .container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:"header"
                            "left"
                            "right"
    }
}